.container{
    display: flex;
    justify-content: center;
    position: relative;
    height: 800;
    background-color: transparent;
}
#growl-size{ /* Positioning of logo*/
    background-color: transparent;
    position: absolute;
    top: 40%;
    left: 50%;
    width: 100px;
    height: 100px;
    margin-top: -50px; /* Half the height */
    margin-left: -50px; /* Half the width */
}
.buttons{/* Positioning of buttons */
    background-color:transparent;
    position: absolute;
    top: 50%;
}
.button{ /* Style for buttons */
    font-weight: bold;
    font-family: Verdana, Geneva, Tahoma, sans-serif;
    padding: 15 24;
    cursor: pointer;
    border: none;
    background-color: black;
    color: whitesmoke;
    float: left;
    
}
.button:hover{
    background-color: gray;
}
@viewport{
    zoom: 1.0;
    width: extend-to-zoom;
}
@-ms-viewport{
    width: extend-to-zoom;
    zoom: 1;
}
